<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hogemon</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/batreq');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var matches = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var m_p1name = matches[0].p1name;
        var m_p2name = matches[0].p2name;

        if (m_p2name) {
          var reqfont = m_p1name + "から対戦申請が来ています。<br>対戦するならばモンスターを選択できているかどうかを確認後、エントリーしてください<br>";
          var request = document.getElementById("request");
          request.innerHTML = reqfont.fontsize(0.5);
        }
      }
    }
  </script>
</head>

<body>
  <div>
    <font size=20px>モンスターを選択</font><br>
  </div>

  <form action="/battle" method="post">
    <input type="number" name="number" min="1" max="10" value="1" />
    <input type="submit" value="詳細表示">
  </form>
  <div>
    <font-size: 50%>表示されているモンスターで戦闘します</font><br>
  </div>

  <div th:if="${monster}">
    <table border="1">
      <thead>
        <th>ID</th>
        <th>モンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>スキル1</th>
        <th>スキル2</th>
        <th>スキル3</th>
        <th>スキル4</th>
      </thead>
      <!--クエリパラメータでIDを渡して購入処理を実行する．@{}はthymeleafのLink式というLinkを生成する際の書き方-->
      <tr th:each="monster,stat:${monster}">
        <td>[[${monster.id}]]</td>
        <td>[[${monster.monstername}]]</td>
        <td>[[${monster.hp}]]</td>
        <td>[[${monster.attack}]]</td>
        <td>[[${monster.defence}]]</td>
        <td>[[${monster.skill1}]]</td>
        <td>[[${monster.skill2}]]</td>
        <td>[[${monster.skill3}]]</td>
        <td>[[${monster.skill4}]]</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="request">
  </div>

  <font size=20px>エントリー</font><br>
  <div th:if="${monster}">
    <tr th:each="user,stat:${user}">
      <div th:if="${user.username != myuser}">
        <a th:href="@{/match(monsterId=${monster.id},userId=${user.id})}">
          [[${user.username}]] </a><br>
      </div>
    </tr>
  </div>

  <br>
  <a href="/">
    <font size="5">メニューにもどる</font><br>
  </a>
</body>

</html>
