<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hogemon</title>
</head>

<body>
  <font size="20">戦闘画面</font><br>

  <div th:if="${p1user}">
    <div th:if="${p2user}">
      [[${p1user}]] VS [[${p2user.username}]]
    </div>
  </div>

  <div th:if="${p1monster}">
    <table border="1">
      <thead>
        <th>手持ちモンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
      </thead>
      <tr th:each="p1monster,stat:${p1monster}">
        <td>[[${p1monster.monstername}]]</td>
        <td>[[${p1monster.hp}]]</td>
        <td>[[${p1monster.attack}]]</td>
        <td>[[${p1monster.defence}]]</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:if="${p1monster}">
    <table border="1">
      <tr th:each="p1monster,stat:${p1monster}">
        <td><a th:href="@{/wait(skillname=${p1monster.skill1})}">[[${p1monster.skill1}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill2})}">[[${p1monster.skill2}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill3})}">[[${p1monster.skill3}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill4})}">[[${p1monster.skill4}]]</a></td>
      </tr>
    </table>
  </div>

  <br>
  <a href="/index.html">
    <font size="5">メニューにもどる</font><br>
  </a>
</body>

</html>
