<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hogemon</title>
</head>

<body>
  <div th:if="${matchinfo}">
    <font size="20">戦闘画面</font><br>
  </div>



  <div th:if="${p1monster}">
    <div th:if="${p2monster}">
      [[${p1monster.monstername}]] VS [[${p2monster.monstername}]]
    </div>
  </div>

  <div th:if="${gameend}">
    <font size="10">試合終了</font><br>
    <font size="20">[[${gameend.p1monstername}]] [[${gameend.matchresult}]]</font><br>
  </div>


  <div th:if="${matchinfo}">
    <font size="5">途中経過</font><br>
    <div th:each="matchinfo,stat:${matchinfo}">
      <td>[[${p1monster.monstername}]]の[[${matchinfo.skill}]]
        [[${p2monster.monstername}]]に[[${matchinfo.damage}]]のダメージ</td>
    </div>
  </div>

  <div th:if="${matchinfo}">
    <table border="1">
      <thead>
        <th>手持ちモンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
      </thead>
      <td>[[${p1monster.monstername}]]</td>
      <td>[[${p1monsterhp}]]</td>
      <td>[[${p1monster.attack}]]</td>
      <td>[[${p1monster.defence}]]</td>
      </tbody>
    </table>
  </div>

  <!-- 値の変化を見るための敵モンスター情報 -->
  <div th:if="${matchinfo}">
    <table border="1">
      <thead>
        <th>敵モンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
      </thead>
      <td>[[${p2monster.monstername}]]</td>
      <td>[[${p2monsterhp}]]</td>
      <td>[[${p2monster.attack}]]</td>
      <td>[[${p2monster.defence}]]</td>
      </tbody>
    </table>
  </div>

  <div th:if="${matchinfo}">
    <table border="1">
      <tr th:each="p1monster,stat:${p1monster}">
        <td><a th:href="@{/wait(skillname=${p1monster.skill1})}">[[${p1monster.skill1}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill2})}">[[${p1monster.skill2}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill3})}">[[${p1monster.skill3}]]</a></td>
        <td><a th:href="@{/wait(skillname=${p1monster.skill4})}">[[${p1monster.skill4}]]</a></td>
      </tr>
    </table>
  </div>

  <div th:if="${gameend}">
    <a href="/index.html">
      <font size="5">メニューにもどる</font><br>
    </a>
  </div>


</body>

</html>
