<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hogemon</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/battling');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var matches = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var match_table = "";
        // DBに残っている試合情報のリストがJSONオブジェクトとして得られるので，htmlを作成し，入れ替える
        var m_p1name = matches[0].p1monstername;
        var m_p2name = matches[0].p2monstername;
        for (var i = 0; i < matches.length; i++) {
          var end_br = "<br>";
          var m_p1name = matches[i].p1monstername;
          var m_p2name = matches[i].p2monstername;
          var m_skill = matches[i].skill;
          var m_dam = matches[i].damage;
          var mymonsterhp = "";
          //1Pの攻撃
          if (i % 2 == 0) {
            match_table = match_table + m_p1name + "の" + m_skill + m_p2name + "に" + m_dam + "のダメージ" + end_br;
          } else {
            //2Pの攻撃
            match_table = match_table + m_p2name + "の" + m_skill + m_p1name + "に" + m_dam + "のダメージ" + end_br;
          }
          var P1monsterhp = matches[i].p1monsterhp;
          var P2monsterhp = matches[i].p2monsterhp;
        }
        console.log(match_table);
        var match_list = document.getElementById("match_list");
        match_list.innerHTML = match_table;

        //初期条件
        document.getElementById("p1wait").style.display = "none";
        document.getElementById("p2wait").style.display = "none";
        document.getElementById("wait1").style.display = "block";
        document.getElementById("wait2").style.display = "block";


        if ((matches.length - 1) % 2 == 0) {
          //1Pの攻撃 = 2P側の画面更新
          console.log(P2monsterhp);
          var p2td = document.getElementById("P2table");
          p2td.innerHTML = P2monsterhp;

          //技選択可能になる処理
          document.getElementById("p2wait").style.display = "block";
          document.getElementById("wait2").style.display = "none";
        } else if ((matches.length - 1) % 2 == 1) {
          //2Pの攻撃 = 1P側の画面更新
          //ステータス更新処理
          console.log(P1monsterhp);
          var p1td = document.getElementById("P1table");
          p1td.innerHTML = P1monsterhp;

          //技選択可能になる処理
          document.getElementById("p1wait").style.display = "block";
          document.getElementById("wait1").style.display = "none";
        }

        //試合終了時に対戦相手にも反映させる処理
        if (P1monsterhp <= 0 || P2monsterhp <= 0) {
          document.getElementById("end1").style.display = "none";
          document.getElementById("end2").style.display = "block";
          var endfont3 = "<a href='/'>メニューにもどる</a>";
          var end3 = document.getElementById("end3");
          end3.innerHTML = endfont3.fontsize(5);
        }
        if (P1monsterhp <= 0) {
          document.getElementById("p1wait").style.display = "none";
          var endfont2 = "試合終了" + "<br>" + m_p1name + " Lose" + "<br>";
          console.log(endfont2);
          var end2 = document.getElementById("end2");
          end2.innerHTML = endfont2;
        }
        if (P2monsterhp <= 0) {
          document.getElementById("p2wait").style.display = "none";
          var endfont2 = "試合終了" + "<br>" + m_p2name + " Lose" + "<br>";
          console.log(endfont2);
          var end2 = document.getElementById("end2");
          end2.innerHTML = endfont2.fontsize(20);
        }
      }
    }
  </script>
</head>


<body>

  <div>
    <font size="5"> [[${lastdata.p1monstername}]] VS
      [[${lastdata.p2monstername}]]</font><br>
  </div>

  <div id="end1">
    <div th:if="${matchinfo}">
      <font size="20">戦闘画面</font><br>
    </div>

    <div th:if="${matchinfo}">
      <font size="5">途中経過</font><br>
      <div id="match_list">
      </div>
    </div>
  </div>

  <div th:if="${gameend}">
    <font size="10">試合終了</font><br>
    <font size="20">[[${gameend.p1monstername}]] [[${gameend.matchresult}]]</font><br>
  </div>

  <div id="end2">
  </div>

  <div th:if="${P1monster}">
    <table border="1">
      <thead>
        <th>手持ちモンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
      </thead>
      <tbody>
        <td>[[${P1monster.monstername}]]</td>
        <td id="P1table">[[${P1monster.hp}]]</td>
        <td>[[${P1monster.attack}]]</td>
        <td>[[${P1monster.defence}]]</td>
      </tbody>
    </table>
  </div>

  <div th:if="${P2monster}">
    <table border="1">
      <thead>
        <th>手持ちモンスター名</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
      </thead>
      <tbody>
        <td>[[${P2monster.monstername}]]</td>
        <td id="P2table">[[${P2monster.hp}]]</td>
        <td>[[${P2monster.attack}]]</td>
        <td>[[${P2monster.defence}]]</td>
      </tbody>
    </table>
  </div>

  <div id="wait1">
    <div th:if="!${gameend}">
      <div th:if="${P1monster}">
        対戦相手の手を待っています<br>
      </div>
    </div>
  </div>

  <div id="wait2">
    <div th:if="!${gameend}">
      <div th:if="${P2monster}">
        対戦相手の手を待っています<br>
      </div>
    </div>
  </div>

  <div id="p1wait">
    <div th:if="!${gameend}">
      <div th:if="${P1monster}">
        <table border="1">
          <td><a th:href="@{/wait(skillname=${P1monster.skill1})}">[[${P1monster.skill1}]]</a></td>
          <td><a th:href="@{/wait(skillname=${P1monster.skill2})}">[[${P1monster.skill2}]]</a></td>
          <td><a th:href="@{/wait(skillname=${P1monster.skill3})}">[[${P1monster.skill3}]]</a></td>
          <td><a th:href="@{/wait(skillname=${P1monster.skill4})}">[[${P1monster.skill4}]]</a></td>
        </table>
      </div>
    </div>
  </div>

  <div id="p2wait">
    <div th:if="!${gameend}">
      <div th:if="${P2monster}">
        <table border="1">
          <tr th:each="P2monster,stat:${P2monster}">
            <td><a th:href="@{/wait(skillname=${P2monster.skill1})}">[[${P2monster.skill1}]]</a></td>
            <td><a th:href="@{/wait(skillname=${P2monster.skill2})}">[[${P2monster.skill2}]]</a></td>
            <td><a th:href="@{/wait(skillname=${P2monster.skill3})}">[[${P2monster.skill3}]]</a></td>
            <td><a th:href="@{/wait(skillname=${P2monster.skill4})}">[[${P2monster.skill4}]]</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div th:if="${gameend}">
    <a href="/">
      <font size="5">メニューにもどる</font><br>
    </a>
  </div>

  <div id="end3">
  </div>



</body>

</html>
